body{
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(214, 214, 214);
    margin: 20px 0;
}

.content-center{
    width: 100%;
    max-width: 70%;
    margin: auto;
    padding: 30px 15px;
    background-color: white;
    border-radius: 15px;
    
}

h1{
    text-align: center;
    background-color: rgb(214, 214, 214);
    font-size: 40px;
    color: black;
    margin: 0;
}

.center{
    text-align: center;
    margin: 0;
    background-color: rgb(223, 223, 223);
    padding: 5px;
}

p{
    font-size: small;
}

h2{
    font-size: 25px;
    color: black;
    background-color: rgb(214, 214, 214);
    padding: 10px ;
    border-bottom: 2px black solid;
}

a{
    text-decoration: none;
}

ul{
    list-style: inside;
    padding: 0;
}

.button{
    margin-top: 10px;
    text-align: right;
}

.button button{
    padding: 15px;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
}

.button button:hover{
    background-color: rgb(214, 214, 214);
    text-decoration: underline;
}

